[submodule "_formulas/mysql"]
	path = _formulas/mysql
    url = https://github.com/saltstack-formulas/mysql-formula
[submodule "_formulas/apt"]
	path = _formulas/apt
	url = https://github.com/bechtoldt/apt-formula
[submodule "_formulas/motd"]
	path = _formulas/motd
	url = https://github.com/djl/motd-formula
