USER={{ pillar.get('sabnzbdplus.user', 'sabnzbd') }}
CONFIG={{ pillar.get('sabnzbdplus.config', '/etc/sabnzbd/sabnzbd.ini') }}
HOST={{ pillar.get('sabnzbdplus.host', '0.0.0.0') }}
PORT={{ pillar.get('sabnzbdplus.port', '8080') }}
EXTRAOPTS={{ pillar.get('sabnzbdplus.extraopts', '') }}
