SABNZBD_USER={{ pillar.get('sabnzbd_user', 'sabnzbd') }}
SABNZBD_HOME={{ pillar.get('sabnzbd_home', '/opt/sabnzbd') }}
SABNZBD_DATA={{ pillar.get('sabnzbd_data', '/opt/sabnzbd') }}
SABNZBD_PORT={{ pillar.get('sabnzbd_data', '7777') }}