SABNZBD_HOME={{ pillar.get('sabnzbd_home', '/opt/sabnzbd') }}
SABNZBD_INIFILE={{ pillar.get('sabnzbd_inifile', '7777') }}
SABNZBD_PORT={{ pillar.get('sabnzbd_port', '7777') }}
SABNZBD_USER={{ pillar.get('sabnzbd_user', 'sabnzbd') }}