CP_HOME={{ pillar.get('couchpotato.home', '/opt/couchpotato') }}
CP_USER={{ pillar.get('couchpotato.user', 'couchpotato') }}
CP_DATA={{ pillar.get('couchpotato.data', '/var/couchpotato') }}
CP_PIDFILE={{ pillar.get('couchpotato.pidfile', '/var/run/couchpotato.pid') }}